@import "tailwindcss";
@import "./typography.css" layer(components);
@variant dark (&:where(.dark, .dark *));

html {
  font-size: 20px;
}

.prose {
  p {
    font-size: 1.2rem;
  }
}

:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --color-bg: var(--color-neutral-50);
  --color-link: oklch(46.97% 0.2734 267.56);
  --color-muted-text: var(--color-neutral-700);

  --color-dark-bg: var(--color-neutral-950);
  --color-dark-link: rgb(215 54 69);
  --color-dark-muted-text: var(--color-neutral-300);
}

/* ensure .link and typography.css are consistent */
.link {
  --prose-link-color: var(--color-link);
  --prose-link-underline-color: var(--color-link);

  color: var(--prose-link-color);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--prose-link-underline-color);
  text-decoration-thickness: 1px;

  & code {
    font-weight: var(--font-weight-semibold);
  }
}

.dark .link {
  --prose-link-color: var(--color-dark-link);
  --prose-link-underline-color: var(--color-dark-link);
}



audio.emotive-audio-player {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 1rem auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}






.fade-in-lines .line {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-lines .line.is-visible {
  opacity: 1;
  transform: translateY(0);
}