---
import { SITE } from "@/siteConfig";
import ThemeToggle from "@/components/ThemeToggle.astro";

const year = new Date().getFullYear();
---

<footer class="mx-auto flex w-full flex-col items-center gap-4 pt-16 pb-24 text-center">
  <div class="mt-12">
    <p class="prose text-gray-300">
      <strong>Emotive WorldCraft</strong>
      <br />
      <span class="text-sm">immersive worlds of sound, story, and art</span>
    </p>
    <div class="prose mt-12 block text-xs text-gray-400 italic">&copy; {year} Aaron Holbrook</div>
  </div>
</footer>
