---
import SeoPage from "@/components/SeoPage.astro";
import ExplorerLayout from "@/layouts/ExplorerLayout.astro";
---

<ExplorerLayout>
    <SeoPage slot="head" />
    <div>
        <section class="prose lg:prose-xl flex flex-col gap-6">
            <h2 class="text-3xl font-bold">✨ You're Almost In...</h2>
            <p class="text-lg">
                Thanks for signing up! Just check your inbox and <strong>confirm your subscription</strong> to start receiving
                new world drops, behind-the-scenes stories, and ambient soundscapes.
            </p>
            <p class="text-lg">
                💌 <em>Didn’t get the email?</em> Check your spam folder — or try subscribing again.
            </p>
        </section>
    </div>
</ExplorerLayout>
